APP_ENV=dev
PLATFORM_GATEWAY_PORT=8200
GAME_GATEWAY_PORT=8300

TEMPLATE_SERVICE_PORT=1001
TEMPLATE_SERVICE_HOST=template-service
DB_HOST=database
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=123456
DB_DEBUG=1
EVENT_PUBLISHER_HOST=redis
EVENT_PUBLISHER_PORT=6379
PLATFORM_GATEWAY_PORT=8100

USER_SERVICE_PORT=1003
USER_SERVICE_HOST=user-service

GAME_SERVICE_PORT=1002
GAME_SERVICE_HOST=game-service

JWT_SECRET=0hfBNXE35BoB44mnUpL4QF2rRCWkf8kf

SESSION_SECRET=Ue2EH9Mz1Y4CRYbehZRriBQBNFugknxu
SESSION_SALT=wNMtaETomiy86sGo
AUTHORIZATION_CODE_SECRET=NDBx7MBAx6jZFzk1q93sLNqOnnkw0kkt
ENCRYPT_DATA_SECRET=wnlREWgdFihF51R8f6zdgfNR3AYWgo0C
GOOGLE_CLIENT_ID=241956797096-9romspt75u9gnkan796fici1ciuioqhc.apps.googleusercontent.com
GOOGLE_SECRET=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
RESET_PASSWORD_SECRET=qqEVic6NcShxPm48kP9USUPLq1tCWiyQ
REGION=ap-southeast-1
ACCESS_KEY_ID=AKIAZ55KTBIMBWJY7KOD
SECRET_ACCESS_KEY=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

CACHE_HOST=redis
CACHE_PORT=6379
CACHE_DATABASE=6
CACHE_TTL=10
JOB_SERVICE_PORT=1011
JOB_SERVICE_HOST=job-service
ELASTICSEARCH_SERVICE_PORT=1012
ELASTICSEARCH_SERVICE_HOST=elasticsearch-service
ELASTICSEARCH_NODE=elasticsearch:9200
